fastdtw==0.3.4
Flask==3.0.0
google_api_python_client==2.103.0
mediapipe==0.10.7
numpy==1.26.1
openai==0.28.1
opencv_contrib_python==4.8.1.78
pandas==2.1.1
Pillow==10.0.1
Pillow==10.1.0
pytube==15.0.0
pytube3==9.6.4
Requests==2.31.0
tqdm==4.66.1
